<div class="container">
  <h1>Hola mundo</h1>

  <div>
    {{title}}
  </div>
  
  <p>La suma de 2 + 2 es {{ 2 + 2 }}</p>
  <p>El doble de 3 es {{ duplicate( 3 ) }}</p>
  <div>
    <p>Objeto: </p>
    <pre>{{ Alumnos | json }}</pre>
  </div>
  <div>
    <p>Objeto: </p> {{ Alumnos }}
  </div>
  <div>
    <p>Nombre: </p>{{ Alumnos.nombre }}
  </div>
  <div>
    <p>Matricula: </p>{{ Alumnos.mastricula }}
  </div>
  <div>
    <p>Fecha nacimiento: </p>{{ Alumnos.fechaNacimiento }}
    <p>Fecha nacimiento: </p>{{ Alumnos.fechaNacimiento | date }}
    <p>Fecha nacimiento: </p>{{ Alumnos.fechaNacimiento | date:'dd/MM/yyyy' }}
  </div>
  <div>
    <p>Pago inscripción: </p>{{ Alumnos.pagoIns | currency }}
  </div>
  <br>
  <hr>
  <div>
    <app-escuela></app-escuela>
  </div>
  <hr>
  <div>
    <app-ievn></app-ievn>
  </div>
  <hr>
  <div>
    <app-iric></app-iric>
  </div>
</div>
